body{
    font-family: Belanosima;
}
body a{
    text-decoration: none;
}

.navbar{
    background-color: #0756A4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-img{
    border-radius: 50%;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    margin: 15px;
}
.search-box {
      background: white;
      border-radius: 40px;
      padding: 10px ;
      display: flex;
      align-items: center;
      width: 900px;
      height: 50px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      margin-left: 60px;
    }
    .search-box svg {
      width: 30px;
      height: 40px;
      fill: #888;
      margin-right: 10px;
      font-size: 30px;
    }

    .search-box input {
      border: none;
      outline: none;
      font-size: 18px;
      color: #666;
      font-weight: bold;
      font-size: 30px;
    }
.sidenavbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.phone{
    margin: 32px;
    margin-bottom: 10px;
    margin-left: -100px;
    position: relative;
    left: 200px;
    color: #ffffff;
    text-align: center;
} 
.book{
    margin: 32px;
    margin-bottom: 10px;
    position: relative;
    left: 200px;
    color: #ffffff;
    text-align: center;
}
.login{
    margin: 32px;
    margin-bottom: 10px;
    position: relative;
    left: 200px;
    color: #ffffff;
    text-align: center;
}
.phone-img{
    width: 45px;
    height: 40px;
    margin-bottom: -20px;
}
.services{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.service1-img{
    height: 60%;
    width:80%;
    border-radius:50%;
    border: #0756A4 3px solid;
    padding: 10px;
    margin: 30px;
    margin-bottom: 10px;
    transition: box-shadow 0.5s linear;
}
.service1:hover .service1-img{
    box-shadow: 3px 5px 20px gray;
}
.service1-p{
    transition: all 0.5s linear;
    font-size: 23px; 
    color: #263238;   
    width: 100px;
    left: 80px;
    position: relative;
}
.service1:hover .service1-p{
    transform: translateX(-15px);
}
.service2-img{
    border-radius: 50%;
    border: #0756A4 3px solid;
    width:220px;
    height: 225px;
    padding: 10px;
    margin-top: 20px;
    transition: box-shadow 0.5s linear;
}
.service2:hover .service2-img{
    box-shadow: 3px 5px 20px gray;
}
.service2-p{
    transition: all 0.5s linear;
    position: relative;
    top: 10px;
    font-size: 23px; 
    color: #263238;  
    width: 100px;
    left: 80px;
}
.service2:hover .service2-p{
    transform: translateY(-15px);
}
.service3-img{
    border-radius: 50%;
    border: #0756A4 3px solid;
    height: 208px;
    width: 208px;   
    padding: 20px;
    transition: box-shadow 0.5s linear;
}
.service3:hover .service3-img{
    box-shadow: 3px 5px 20px gray;
}
.service3-p{
    position: relative;
    top: 18px;
    transition: all 0.5s linear;
    font-size: 23px;  
    color: #263238; 
    width: 100px;
    left: 80px; 
}
.service3:hover .service3-p{
    transform: translateX(15px);
}
.service4-img{
    border-radius:  50%;
    border:#0756A4 3px solid;
    height: 200px;
    width: 200px;
    padding: 23px;
    transition: box-shadow 0.5s linear;
}
.service4:hover .service4-img{
    box-shadow: 3px 5px 20px gray;
}
.service4-p{
    position: relative;
    top: 23px;
    transition: all 0.5s linear;
    font-size: 20px;    
    color: #263238;
    width: 100px;
    left: 80px;
}
.service4:hover .service4-p{
    transform: translateY(15px);
}
.service5-img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: #0756A4 3px solid;
    transition: box-shadow 0.5s linear;
}
.service5:hover .service5-img{
    box-shadow: 3px 5px 20px gray;
}
.service5-p{
    position: relative;
    top: 20px;
    left: 80px;
    transition: all 0.5s linear;
    font-size: 23px;
    color: #263238;    
    width: 100px;
}
.service5:hover .service5-p{
    transform: translate(5px);
}
.amazon{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #0756A4;
    height: 200px;
}
.amazon-logo{
    
    margin-top: -30px;
    transform: translateX(0);               /* Start at normal position */
  transition: transform 0.5s ease-in-out
}
.amazon:hover .amazon-logo {
   transform: translateX(-420%);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.linkaccount-1{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 15px;
    padding: 5px;
    width: 180px;
    text-align: center;
}
.earn{
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
    width: 450px;
}
.left{
    margin-left: 30px;
    transition: opacity 0.5s linear;
  opacity: 1;
}
.amazon:hover .left {
  opacity: 0;
}
.linkaccount-2{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 15px;
    padding: 5px;
    width: 180px;
    text-align: center;
    margin-left: 550px;
    margin-top:-75px;
}
.amazon-email{
    position: relative;
    top: -210px;
    left: 400px;
    opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}
.amazon:hover .amazon-email {
  opacity: 1;
  visibility: visible;
}
.amazon-touchpoint{
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    width: 450px;
}
.amazon-email-p{
    color: #666;
    font-size: 28px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 500px;
    padding: 10px;
}
.reasons-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.reason1{
    box-shadow: 0px 10px 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
}
.reason2{
    box-shadow: 0px 10px 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
}
.reason3{
    box-shadow: 0px 10px 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
}
.reason1-h2{
    font-size: 30px;
    font-weight: 400;
    color: #263238;
    width: 200px;
    text-align: center;
    transition: all 0.2s linear;
}
.reason2-h2{
    font-size: 30px;
    font-weight: 400;
    color: #263238;
    width: 200px;
    text-align: center;
    transition: all 0.2s linear;
}
.reason3-h2{
    font-size: 30px;
    font-weight: 400;
    color: #263238;
    width: 250px;
    text-align: center;
    transition: all 0.2s linear;
}
.reason1-p{
    color: #FF7043;
    font-size: 29px;
    width: 330px;
    text-align: center;
    transition: all 0.2s linear;   
}
.reason2-p{
    color: #FF7043;
    font-size: 29px;
    width: 330px;
    text-align: center;
    transition: all 0.2s linear; 
}
.reason3-p{
    color: #FF7043;
    font-size: 30px;
    width: 345px;
    text-align: center;
    transition: all 0.2s linear; 
}
.reasons-p{
    font-size: 30px;
    text-align: center;
    margin: 80px;
}
.reason1:hover{
    background-color: #b3f3a4; 
}
.reason1:hover .reason1-p{
    color: #263238;
    transform: translateX(5px);
}
.reason2:hover{
    background-color: #b3f3a4;
}
.reason2:hover .reason2-p{
    color: #263238;
    transform: translateX(5px);
}
.reason3:hover{
    background-color: #b3f3a4;
}
.reason3:hover .reason3-p{
    color: #263238;
    transform: translateX(5px);
}
.reason1:hover .reason1-h2{
    transform: translateX(5px);
}
.reason2:hover .reason2-h2{
    transform: translateX(5px);
}
.reason3:hover .reason3-h2{
    transform: translateX(5px);
}
.reason1-img{
    transition: transform 0.2s linear;
}
.reason1:hover .reason1-img{
    transform: scale(1.2);
}
.reason2-img{
    transition: transform 0.2s linear;
}
.reason2:hover .reason2-img{
    transform: scale(1.2);
}
.reason3-img{
    transition: transform 0.2s linear;
}
.reason3:hover .reason3-img{
    transform: scale(1.2);
}
.top-picks-h3{
    text-align: center;
    font-size: 30px;
    margin: 50px;
    position: relative;
    top: 50px;
    
}
.tp-cards{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-bottom: 120px;
      /* Bottom shadow */
}
.top-picks{
    box-shadow: 
        0 -8px 8px -4px grey,  /* Top shadow */
        0 8px 8px -4px grey; 
}
.tp-card1{
    background-color: #0756A4;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 50px;
    width: 355px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tp-card1-img2{
    position: relative;
    top: -163px;
    left: -99px;
}
.tp-card1-img1{
    position: relative;
    top: 135px;
}
.tp-card1-p1{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 40px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 100px;
}
.tp-card1-p2{
    color: #ffffff;
    font-size: 27px;
    font-weight: 600;
    width: 150px;
    text-align: center ;
    position: relative;
    top: 100px;
}
.tp-card2{
    background-color: #0756A4;
    border-radius: 30px;
    width: 360px;
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    position: relative;
    top: 15px;
}
.tp-card2-img2{
    position: relative;
    top: -268px;
    left: 110px;
    height: 120px;
}
.tp-card2-img1{
    position: relative;
    top: -180px;
    left: 0px;
}
.tp-card2-p1{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 40px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 480px;
}
.tp-card2-p2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    width: 130px;
    text-align: center ;
    position: relative;
    top:250px;
    left:-15px;
    
}
.tp-card3{
    background-color: #0756A4;
    border-radius: 25px;
    width: 355px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.tp-card3-img2{
    position: relative;
    top: -214px;
    left: -77px;
    width: 200px;
}
.tp-card3-img1{
    position: relative;
    top: 87px;
}
.tp-card3-p1{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 40px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 80px;
}
.tp-card3-p2{
    color: #ffffff;
    font-size: 27px;
    font-weight: 600;
    width: 200px;
    text-align: center ;
    position: relative;
    top: -70px;
}
.tp-card3-p3{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top:-50px;
}
.reviewcards{
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: none;
    padding-bottom: 50px;
    margin-left: 50px;
}
.review-card{
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    font-size: 22px;
}
.review-card-h2{
    font-weight: 500;
}
.review-name{
    margin-left: 180px;
}
.star-img{
    margin-left: 180px;
}
.customersays{
    box-shadow: 
        0 -8px 8px -4px grey,  /* Top shadow */
        0 8px 8px -4px grey; 
}
.customersays-h3{
    text-align: center;
    padding: 50px;
    font-size: 28px;
    font-weight: 600;
}
.playstore{
    background-color: #dfecfb;
    display: flex;
    flex-direction: row;
}
.playstore-left{
    margin-left: 220px;
    margin-top: 50px;
    text-align: center;
}
.playstore-left-p1{
    font-size: 28px;
    color: #263238;
}
.playstore-left-p2{
    font-size: 30px;
    color: #263238;
}
.playstore-left-p3{
    font-size: 25px;
    color: #263238;
    margin-top: -25px;
}
.playstore-right{
    margin-left: 130px;
    margin-top: 10px;
}
.playstore-right-img{
    height: 300px;
}
.footer{
    background-color: #0756A4;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}
.f2-li,.f3-li,.f4-li{
    list-style: none;
}
.f2,.f3,.f4{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.f2{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.f3{
     margin-left: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.f2-li{
    margin-left: -40px;
    font-size: 30px;
}
.f2-ul{
    margin-top: -20px;
}
.f2-h3{
    font-size: 30px;
    font-weight: 600;
}
.f3-li{
    margin-left: -40px;
    font-size: 30px;
}
.f3-ul{
    margin-top: -20px;
}
.f3-h3{
    font-size: 30px;
    font-weight: 600;
}
.f4-li{
    margin-left: -40px;
    font-size: 30px;
}
.f4-ul{
    margin-top: 0px;
}
.f4-h3{
    font-size: 30px;
    font-weight: 600;
}
.f4{
    margin-left: 100px;
    margin-top: 20px;
}
.footer-logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    color: #263238; 
}
.f1-logo-img{
    height: 100px;
    width: 120px;
}
.f1-logo-p{
    margin-top: -10px;
    font-size: 20px;
}
.f1{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-right: 40px;
}
.f1-p{
    font-size: 24px;
}
.GC-button-button{
    background-color: #FF7043;
    font-size:50px;
    height: 60px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 30px;
    border: none;
}
.GC-link{
    text-decoration: none;
}
.service1-link{
    text-decoration: none;
}




















/*General Cleaning Page*/
.body{
    font-family: Belanosima;
}
.navbar1{
    background-color: #0756A4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo1-img{
    border-radius: 50%;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    margin: 15px;
}
.search-box1 {
    background: white;
    border-radius: 40px;
    padding: 10px ;
    display: flex;
    align-items: center;
    width: 900px;
    height: 60px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-left: 60px;
}
.search-box1 svg {
    width: 30px;
    height: 40px;
    fill: #888;
    margin-right: 0px;
}
.search-box1 input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #666;
    font-weight: 600;
    font-size: 30px;
}
.sidenavbar1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.phone1{
    margin: 32px;
    margin-bottom: 10px;
    margin-left: -100px;
    position: relative;
    left: 200px;
    color: #ffffff;
    text-align: center;
} 
.book1{
    margin: 32px;
    margin-bottom: 10px;
    position: relative;
    left: 200px;
    color: #ffffff;
    text-align: center;
}
.login1{
    margin: 32px;
    margin-bottom: 10px;
    position: relative;
    left: 200px;
    color: #ffffff;
    text-align: center;
}
.phone1-img{
    width: 45px;
    height: 40px;
    margin-bottom: 0px;
}
.GC-Card1-button{
    border: none;
    background-color: #ffffff;
    height: 290px;
}
.GC-card2-p{
    font-size: 28px;
    color: #263238;
    font-weight: 600;
}
.GC-card2-p2{
    font-size: 28px;
    color: #263238;
    font-weight: 600;
}
.GC-card1-p{
    font-size: 30px;
    color: #263238;
}
.GC-card1-p2{
    font-size: 30px;
    color: #263238;
}
.GC-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.GC-card2-img {
  display: block;
  width: 100%;
  transition: opacity 0.6s ease;
}

.GC-card2-img:hover {
  opacity: 0.6; 
}
.GC-card1-img {
  display: block;
  width: 100%;
  transition: opacity 0.6s ease;
}

.GC-card1-img:hover {
  opacity: 0.6; 
}
#GC-Appartment-link{
    text-decoration: none;
    color: black;
}
.guarantee{
    background-color: #0756A4;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.guarantee-right{
    color: #ffffff;
}
.guarantee-right-h2{
    font-size: 28px;
    font-weight: bold;
}
.guarantee-right-p{
    font-size: 24px;
    font-weight: 20px;
}
.guarantee-right{
    position: relative;
    top: -100px;
    left: 100px;
    text-align: center;
}
.guarantee-right-p{
    width: 750px;
    margin-left: 400px;
    margin-top: 20px;
}
.guarantee-left{
    position: relative;
    top:30px;
    left: 50px;
}

















/*Appartment*/

.hpo{
    margin-top: 50px;
    
}
.bhk-header{
    background-color: #0756A4;
    color: #ffffff;
}
.bhk-h2{
    font-size: 30px;
    padding: 30px;
    font-weight: 600;
}
.bhk-place1-left-h2-1{
    font-weight: 800;
}
.bhk-place1-left-h2-2{
    font-weight: 600;
}
.bhk-place1{
margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.bhk-place1-left-p{
    font-size: 24px;
}
.bhk-card-p1{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 40px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    text-align: center;
    font-weight: 600;
    position: relative;
    left: 580px;
    top: 50px;
}
.bhk-place1-right-button{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    border-radius: 40px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    text-align: center;
    font-weight: 600;
    position: relative;
    left: 570px;
    top: 50px;
    border: none;
}
.bhk-hr{
border: 0;
border-top: 4px solid black;
opacity: 1;
}
.bhk-place{
    margin-bottom: -16px;
}
.aprt-button-button{
    background-color: #FF7043;
    font-size:50px;
    height: 60px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: -40px;
    margin-left: -40px;
    border: none;
}
.Aprt-pricedetails-popup-p1{
    font-size: 34px;
    margin-top: 30px;
    margin-left: -15px;
}
.aprt-hr{
    width:800px;
    margin-left: -40px;
    opacity: 1;
    border: 2px solid;
    color: black;
}
.duration{
    display: flex;
    flex-direction: row;
}
.duration-h2{
    background-color: #0756A4;
    color: #ffffff;
    width: fit-content;
    margin-left: -40px;
    padding: 5px;
}
.duration-p{
    font-size: 30px;
    margin-left: 5px;
}
.include-h2{
    background-color: #0756A4;
    color: #ffffff;
    width: fit-content;
    margin-left: -40px;
    padding: 5px;
}
.include-li{
    font-size: 28px;
}
.include-ol{
    margin-left: 20px;
}
.addon-button{
    background-color: #FF7043;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 28px;
}
.View-detail{
    background:none;
    border: none;
    color: #0756A4;
    font-size: 24px;
}
.addon-button-link{
    text-decoration: none;
}
.addon{
    margin-top: 80px;
    margin-left: 40px;
}
.warning-p{
    font-size: 28px;
    color: rgb(246, 103, 103);
    margin-top: 50px;
    margin-left: 40px;
}
.popularaddons-card1-img{
    height: 300px;
}
.popularaddons-cards{
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: none;
    height: 500px;
    margin-top: 80px;
}
.popularaddons-card1{
    margin: 15px;
    box-shadow: 0px 0px 5px #0756A4;
    border-radius: 5px;
    border: 1px solid #0756A4;
    height: 500px;
}
.popularaddons-card1-p{
    font-size: 36px;
}
.popularaddons-card1-add-p{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 20px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    margin-left: 100px;
}
.circle {
      width: 20px;
      height:20px;
      background-color: white;
      border: 3px solid #7d888e; /* Blue color */
      border-radius: 50%;         /* Makes it a circle */
      display: inline-block;
  }
.times{
    background-color: #0756A4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.times-cards{
    background-color: #ffffff;
    width: 400px;
    border-radius: 10px;
    margin: 30px;
    height: 120px;
}
.times-card1-time{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 15px;
}
.circle-p{
    position: relative;
    top: -10px;
    left: 12px;
    font-size: 30px;
}
.upto-off-p{
    background-color: #b3f3a4;
    color: rgb(58, 139, 58);
    height: 45px;
    width: 180px;
    font-size: 28px;
    text-align: center;
    margin-top: -20px;
    margin-left: 45px;
}
.next-button{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 28px;
    text-align: center;
    margin-left: 650px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.popularaddons-h2{
    background-color: #0756A4;
    color: white;
    text-align: center;
    padding: 30px;
}
.popularaddons{
    margin-top: 50px;
}







.studio-h2{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 55px;
}
.studio-p{
    font-size: 30px;
    text-align: center;
    width: 1300px;
    margin-left: 100px;
    margin-top: 30px;
}
.price{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 35px;
    padding: 10px;
    width:230px;
    margin-top: 30px;
}
.studio-duration-h3{
    font-weight: 600;
    margin-left: 10px;
}
.studio-duration-p{
    font-size: 30px;
    margin-left: 10px;
    margin-top: -5px;
}
.studio-duration{
    display: flex;
    flex-direction: row;
}
.studio-includes-h3{
     font-weight: 600;
    margin-left: 10px;
    font-size: 30px
}
.studio-living-button{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 28px;
    width: 300px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 10px;
}
.circle-plus{
     width: 40px;
      height: 40px;
      background-color: green;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: white;
      margin-top: 2px;
      margin-right: 10px;
      margin-left: 10px;
}
.studio-add-link{
    text-decoration: none;
}
.living{
    display: flex;
    flex-direction: row;
}
.studio-living-button{
    margin-left: 1000px;
    margin-top: -50px;
}
.studio-living-p{
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
}
.circle-plus3{
     width: 40px;
      height: 40px;
      background-color: green;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: white;
      margin-top: 2px;
      margin-right: 10px;
      margin-left: 10px;
}
.studio-add-link{
    text-decoration: none;
}
.living3{
    display: flex;
    flex-direction: row;
}
.studio-living-button3{
    margin-left: 880px;
    margin-top: -50px;
}
.studio-living-p3{
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
}
.studio-living-button3{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 28px;
    width: 300px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 10px;
}
.studio-duration-h3-3{
    font-weight: 600;
    margin-left: 10px;
}
.circle-plus2{
     width: 40px;
      height: 40px;
      background-color: green;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: white;
      margin-top: 2px;
      margin-right: 10px;
      margin-left: 10px;
}
.studio-add-link{
    text-decoration: none;
}
.living2{
    display: flex;
    flex-direction: row;
}

.studio-living-p2{
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
}
.studio-living-button2{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 28px;
    width: 300px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 10px;
    margin-left: 940px;
    margin-top: -50px;
}
.studio-duration-h3-2{
    font-weight: 600;
    margin-left: 10px;
}













/*Professional Summary*/
.body{
    font-family: Belanosima;
}
.auto-asign{
    background-color: #0756A4;
    width: 190px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
}
.auto-asign-img{
    margin: 25px;
}
.auto-asign-p{
    font-size: 28px;
    margin-top: -15px;
}
.profession-card1{
    width: 190px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    border: 2px solid #0756A4;
}
.profession-card1-img{
    margin: 25px;
}
.profession-card1-p{
    font-size: 28px;
    color: black;
    margin-top: -20px;
}
.rating-img{
    margin-top: -10px;
}
.profession-cards{
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: none;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
}
.profession-summary{
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.wed-date{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0756A4;
}
.day-time{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.timing1{
    border: 2px solid skyblue;
    border-radius: 20px;
    width: 180px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
}
.timing1:hover{
    background-color: skyblue;
}
.timing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
.profession{
    width: 860px;
    border: 2px solid #657177;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 10px;
}
.profession-p{
    font-size: 28px;
    margin-left: 20px;
    margin: 45px;
}
.profession-p2{
    font-size: 30px;
    margin-left: 20px;
}
.profession-p3{
    font-size: 30px;
    margin-left: 20px;
}
.wed-p{
    font-size: 24px;
}
.payment{
    background-color: #0756A4;
    color: #ffffff;
    border-radius: 10px;
    width: 500px;
    margin-left: 30px;
}
.payment-h2{
    font-size: 30px;
    margin-left: -550px;
    margin-bottom: 10px;
    position: relative;
    
}
.payment-hr{
    width: 450px;
    margin-top: 20px;
    border: 3px solid #ffffff;
    opacity: 1;
    margin-left: 10px;
}
ul{
    list-style: none;
    margin-left: -10px;
}
li{
    margin-bottom: 20px;
    font-size: 28px;
}
.amount{
    display: flex;
    flex-direction: row;
}
.amount-right{
    margin-left: 150px;
}
.total{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-left: 20px;
}
.total-right{
    margin-left: 180px;
    margin-bottom: 50px;
}
.summary{
    width: 560px;
    border: 2px solid #657177;
    margin-top: 30px;
    margin-left: -100px;
    border-radius: 10px;
}
.summary-h2{
    margin: 35px;
    text-align: center;
}
.summary-p{
    font-size: 30px;
}
.add-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    margin-left: 10px;
}
.add-service-button{
    border: #FF7043 4px solid;
    background-color: #ffffff;
    color: #FF7043;
    width: 880px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
}
.add-next-button{
    border: #FF7043 4px solid;
    background-color:#FF7043;
    color: #ffffff;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
}
.checkout-h3{
    background-color: #FF7043;
    color: #ffffff;
    font-size: 30px;
    padding: 40px;
    text-align: center;
}
.details-p1{
    color: #000000;
    font-size: 28px;
    margin-left: 20px;
}
.details-hr1{
    border: 2px solid #0756A4;
    margin-left: 20px;
}
.details-p{
    color: #9ca7ac;
    margin-left: 20px;
}
.details-hr{
    border: #263238 2px solid;
    margin-left: 20px;
}
.pin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}
.pin-left-p{
    color: #7d888e;
}
.pin-hr{
    width: 350px;
    border: #263238 2px solid;
}

.details{
    margin-left: 350px;
    margin-top: 80px;
    margin-right: 20px;
    border: 2px solid #0756A4;
    opacity: 1;
    border-radius: 10px;
    width: 800px;
    box-shadow: 2px 2px 8px #6d7378;
}
.checkout{
    font-size: 28px;
}
.confirm-button{
    background-color: #0756A4;
    color: #ffffff;
    font-size: 28px;
    padding: 10px;
    width: 700px;
    text-align: center;
    margin-left: 50px;
    border: none;
    border-radius: 25px;
    margin-bottom: 70px;
}
.services-details-left-right{
    display: flex;
    flex-direction: row;
}
.service-details-left{
    margin-left: 150px;
    margin-right: 350px;
}
.service-details-h2{
    text-align: center;
    margin-top: 30px;
}
.service-details-hr{
    border: 2px solid #263238;
}
.service-add-next-button{
    border: #FF7043 4px solid;
    background-color:#FF7043;
    color: #ffffff;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.confirmed{
    text-align: center;
    margin-top: 150px;
}
.confirmed-h2{
    margin-bottom: 50px;
}
.booking-details-h2{
    text-align: center;
    background-color: #0756A4;
    color: #ffffff;
    padding: 30px;
    margin-top: 50px;
}
.bookind-details-box-p1{
    font-size: 28px;
}
.bookind-details-box-p2{
    font-size: 28px;
    margin-left: 200px;
}
.summary-left1{
    font-size: 28px;
}
.summary-right1{
    font-size: 28px;
}
.bookind-details-box-p2-li{
    margin-left: 200px;
}
.bookind-details-address-box-p1{
    font-size: 28px;
    margin-left: 0px;
}
.bookind-details-address-box-p2-li{
    font-size: 28px;
    margin-left: 190px;
}
.bookind-details-summary-box-p1{
    margin-left: 100px;
    font-size: 28px;
}
.bookind-details-box-summary-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}
.bookind-details-box-summary-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.bookind-details-box-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:550px;
}
.payment-confirm{
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    width: 500px;
    margin-left: 550px;
}
.amount-confirm{
    display: flex;
    flex-direction: row;
    margin-left: -350px;
}   
.amount-left-confirm{
    margin-left: 15;
}
.amount-right-ul-confirm{
    margin-left: 700px;
}
.bookind-details-box{
    border: 2px solid gray;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    box-shadow: 5px 5px 5px gray;
    margin-left: 200px;
}
.total-confirm{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-left: -340px;
}
.total-right-confirm{
    margin-left: 900px;
}
.total-left-confirm{
    margin-left:-150px ;
}
.payment-hr-confirm{
    border: #263238 2px solid;
    width: 1100px;
    margin-left: -500px;
}
.confirm-add-next-button{
    border: #FF7043 4px solid;
    background-color:#FF7043;
    color: #ffffff;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.invoice-container{
    width: 1200px;
    border: 3px solid #8a9ea9;
    margin-left: 150px;
    margin-top: 50px;
}
.invoice-header{
    display: flex;
    flex-direction: row;
    background-color: #0756A4;
    color: #ffffff;
}
.invoice-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ffffff;
}
.invoice-h2{
    margin-left: 500px;
    margin-top: 30px;
}
.invoice-add-next-button{
    border: #FF7043 4px solid;
    background-color:#FF7043;
    color: #ffffff;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 450px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.customer-details{
    background-color: skyblue;
    padding: 20px;
    font-weight: 600;
}
.customer-name{
    font-size: 28px;
}
.cost-details{
    background-color: skyblue;
    padding: 20px;
}
.contact-h2{
    background-color: #FF7043;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.infos{
    width: 800px;
    border: 5px solid #0756A4;
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.location-info{
    display: flex;
    flex-direction: row;
}
.info-p{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
}
.info-hr{
    border: #000000 2px solid;
    opacity: 1;
    width: 700px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.signup-link{
    text-decoration:underline;
    color: #0756A4;
}
.login-container{
    border: 2px solid #263238;
    border-radius: 20px;
    margin: 50px;
    height: 600px;
    box-shadow:  5px 5px 8px rgb(178, 170, 170);
    margin-bottom: 100px;
}
.login-right{
    margin-left: 600px;
    margin-top: -550px;
}
.center-hr{
    height: 600px;
    border: 1px solid black;
    opacity: 1;
    margin-left: 550px;
    margin-top: -457px;
}
.login-p{
    font-size: 28px;
    font-weight: 100;
}
.login-p1{
    color: #96a0a5;
    font-size: 28px;
    margin-top: 50px;
}
.login-p2{
    color: #96a0a5;
    font-size: 28px;
    margin-top: 50px;
}
.signin-hr{
    border: 1px solid black;
    opacity: 1;
    width: 750px;
}
.signin-button{
    background-color: #FF7043;
    border-radius: 20px;
    width: 750px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
}
.signup{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    margin-left: 220px;
}
.login-img{
    border: 2px solid #0756A4;
    height: 320px;
    width: 320px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #0756A4;
    margin-left: 100px;
    margin-top: 50px;
}
.login-left-p{
    font-size: 28px;
    width: 350px;
    text-align: center;
    color: #0756A4;
    margin-top: 40px;
    margin-left: 50px;
}
.login-left-p2{
    color: #FF7043;
    font-size: 28px;
    width: 480px;
    text-align: center;
}